<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableTop Ties</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  {{!-- <script src="../../utils/socketio.js"></script> --}}
</head>

<body>
  <header class="text-center  text-light p-3">
    <div class="container">
      <nav>
        <ul>
          <li class="logo"><a href="#">Tabletop-Ties</a></li>
          <li><a href="#">Find Events</a></li>
          <li><a href="#">Create Events</a></li>
          <li class="search-bar">
            <input type="text" placeholder="Search events">
            <button>Search</button>
          </li>
          <li><a href="./login" class="login-button">Login</a></li>
          <li><a href="./signup" class="signup-button">Sign Up</a></li>
          {{#if logged_in}}
          <li><a href="#" id="logout">Logout</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>

  <main class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="chat-box bg-light p-3 mb-4">

        </div>
        <div class="input-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Start the conversation here ... ">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">SEND A RAVEN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{{ body }}}

  <footer>
    <div class="container">
      <p>&copy; Tabletop-Ties </p>
    </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>