<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableTop Ties</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../utils/socketio.js"></script>
</head>

<body>
  <header class="text-center bg-dark text-light p-3">
    <h2></h2>
  </header>
  <main class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="chat-box bg-light p-3 mb-4">
          
        </div>
        <div class="input-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Start the conversation here ... ">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">SEND A RAVEN</button>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </main>
  {{{ body }}}

<footer>
    <div class="container">
        <p>&copy; Tabletop-Ties </p>
    </div>
</footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>