<div class="profile-edit">
<h2>Edit Profile</h2>
<form id="edit-profile-form" class="profile-edit-form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" value="{{user.name}}" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" required>
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" class="form-control" value="{{user.location}}">
    </div>
    <!-- Add other fields as necessary - Checkboxes for interested_games Needed -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
</div>
<script src="/js/editProfile.js"></script>