<div>
    <div class="container">
        <div class="signup-form-out">
            <h2>Sign Up</h2>
            <form class="signup-form">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="name">Username:</label>
                    <input type="text" id="username" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-input" required>
                </div>
                <div class="form-group-button">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
            <div class="signup-footer">
            <p>Already have an account? </p><button><a href="./login">Sign in</a></button>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>