* {
    background-color: lightslategrey;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.navbar2 {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

button {
    font-size: 30px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #000000;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

input {
    font-size: 30px;
    background-color: white;
}

footer {
    text-align: center;
}

/* Send a Raven Styling below */
.messenger {
    background-color: lightslategrey;
}

.chat-box {
    background-color: lightslategrey;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.message {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px; 
}

.message.sender {
    background-color: #cce5ff;
    border-color: #b8daff;
}

.message.reciever {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.input-box {
    margin-top: 10px;
}

.input-box input[type="text"] {
    width: calc(100% - 80px);
    border-radius: 5px 0 0 5px;
    border: 1 px solid #ccc;
    padding: 10px;
}

.input-box button {
    width: 80px;
    border-radius: 0 5px 5px 0;
    border: none;
    /* background-color: #007bff; */
    color: #fff;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

.hero {
    text-align: center;
    font-size: 30px;
}

.profiles-section h2 {
    text-align: center;
}

.events-section h2 {
    text-align: center;
}

.games-section h2 {
    text-align: center;
}

.login-form h2 {
    text-align: center;
    font-size: 40px;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
}

.login-form p {
    text-align: center;
    font-size: 30px;
}

.signin-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-footer button {
    font-size: 20px;
}

.signup-form-out {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.form-group {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}

.form-group-button {
    display: flex;
    justify-content: center;
}

.signup-footer {
    display: flex;
    flex-direction: row;
}

.signup-footer button {
    font-size: 20px;
}

.signup-footer p {
    text-align: center;
    font-size: 30px;
}

.form-group {
    display: flex;
    align-items: left;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.profile-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-home p {
    font-size: 25px;
}

.profile-info {
    text-align: center;
}

.interested-games {
    text-align: center;
}

.profile-home a {
    font-size: 30px;
    color: black;
    border-color: black;
}

.profile-home a:hover {
    background-color: black;
    color: white;
}

.profile-home a:active {
    background-color: white;
    color: black;
}

.profile-edit h2 {
    text-align: center;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-edit button {
    font-size: 20px;
    color: black;
    border-color: black;
}

.profile-edit button:hover {
    background-color: black;
    color: white;
}

.profile-edit button:active {
    background-color: white;
    color: black;
}

.single-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-event p {
    font-size: 30px;
}

.game-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-detail p {
    font-size: 25px;
}

.game-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-description p {
    text-align: center;
}