<div class="card event-card m-2">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Date: {{format_date date_of}}</h6>
        <p class="card-text">Location: {{location}}</p>
        <a href="/events/{{id}}" class="card-link">Event Details</a>
    </div>
</div>